<section id="brands" class="section brands py-5">
  <div class="row justify-content-center">
    <div class="col-12 col-xl-6">
      {{ with .content.title }}
        <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
      {{ end }}
    </div>
  </div>
    <div class="row align-items-center justify-content-center">
      {{ range .content.items }}
      <div class="col px-3 my-2 text-center">
        {{ partial "utilities/image.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
