<section id="formacoes" class="section formacoes py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
        <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <div>
      <h3>Próximas</h3>
      <div>
        <h4 style="color: #ffc107;" class="pb-3"><b>Intervenções nas perturbações do espectro do autismo na infância e
            adolescência</b></h4>
        <h6 style="color: #8AC6CE" class="pb-3"><b>26 de Setembro de 2025</b></h6>
        <p class="text-black-61 pb-3">
          <u>Online</u> (Zoom)<br>
          <u>Publico alvo:</u> médicos internos e especialistas em Psiquiatria da Infância e Adolescência e qualquer
          outro profissional da área de Saúde Mental<br>
          Abertura das inscrições a <u>28 de Julho de 2025</u> | vagas limitadas<br>
          Preço desta formação: 35€ (sessões da manhã + sessões da tarde) ou 25€ (sessões da manhã ou sessões da
          tarde)<br>
          Inscreva-se no <a href="https://forms.gle/rUBnwUYQmxB2sr9X8">formulário de inscrição para esta formação.</a>
        <h6 style="color: #8AC6CE" class="pb-3">Programa</h6>
        <b>9H00 – 9H15<br>
          Sessão de Abertura e Enquadramento Teórico</b><br>
        <i>Inês Barroca e Catarina Melo Santos</i><br>
        -<br>
        <b>9H15 – 10H00<br>
          Terapia Ocupacional e Integração Sensorial</b><br>
        <i>Drª. Nídia Reis</i><br>
        - <br>
        <b>10H00 – 11H00<br>
          Treino de Competências Sociais</b><br>
        - <br>
        <i>11H00 – 11H30<br>
          Intervalo</i><br>
        - <br>
        <b>11H30 – 12H30<br>
          Psicomotricidade e Terapia Tailor Made</b><br>
        <i>Drª. Joana Figueiredo Gonçalves</i><br>
        -<br>
        <i>12H30 – 14H00<br>
          Pausa para almoço</i><br>
        - <br>
        <b>14H00 – 14H30<br>
          Intervenção de Base Relacional (PACT, Denver, Floortime)
        </b><br>
        <i>Drª. Joana Mesquita Reis</i><br>
        - <br>
        <b>14H30 – 16H30<br>
          Intervenção Farmacológica e Casos Clínicos
        </b><br>
        <i>Drª. Joana Mesquita Reis</i><br>
        <br>
        <h6 style="color: #8AC6CE" class="pb-3">Oradores</h6>
        <b>Drª. Nídia Reis</b><br>
        Terapeuta Ocupacional Pediátrica<br>
        Pós-graduada em Integração Sensorial<br>
        Certificação Internacional em Ayres Sensory Integration pela CLASI<br>
        Actuação especializada na primeira infância, com foco em perturbações do neurodesenvolvimento e seletividade alimentar<br>
        <br>
        <b>Drª. Joana Figueiredo Gonçalves</b><br>
        Psicomotricista, coordenadora da equipa de Psicomotricidade e Educação Especial do Hospital da Luz Lisboa<br>
        ⁠Faz avaliação formal, orientação parental e acompanha desde bebés a pré-adolescentes nas áreas do neurodesenvolvimento e saúde mental, em articulação com a família, escola e treinadores<br>
        Supervisora clínica de psicomotricistas<br>
        Consultora educacional da Edu4Word<br>
        Foi Professora Convidada da FMH e mantém-se na orientação de estágios académicos<br>
        <br>
        <b>Drª. Joana Mesquita Reis</b><br>
        Assistente Hospitalar de Pedopsiquiatria na equipa da Unidade da Primeira Infância da Unidade Local de Saúde de São José<br>
        Formação em intervenção sistémica e familiar pela SPTF<br>
        Pós graduação em Psicoterapia Cognitivo Comportamental da Infância e da Adolescência<br>
        Formação e acreditação na ADOS-2 e ADI-R e nos modelos de intervenção para as PEA: Denver, DIR/Floortime e PACT<br>
        <br>

        </p>
      </div>
      <h3>Anteriores</h3>
      <div>
        <h6 style="color: #8AC6CE" class="pb-3"><b>22 de Março de 2025 - Intervenções nas perturbações de ansiedade na infância e
          adolescência</b></h6>
        <p class="text-black-61 pb-3">
        </p>
      </div>
    </div>
    <!--
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        {{ with .content.image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        {{ with .content.button }}
          <a class="btn btn-outline-primary px-4" href="{{ .url }}">{{ .label }}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
        {{ end }}
      </div>
    </div>
  -->
  </div>
</section>