<section id="formacoes" class="section formacoes py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6">
        {{ with .content.title }}
        <h3 class="fs-1 fw-bold text-center text-primary pb-3">{{ . }}</h3>
        {{ end }}
      </div>
    </div>
    <div>
      <h3>Próximas</h3>
      <div>
        <h4 style="color: #ffc107;" class="pb-3"><b>Sessão Questions & Answers: “Psicofarmacologia na Infância e Adolescência”</b></h4>
        <h6 style="color: #8AC6CE" class="pb-3"><b>24 de Outubro de 2025</b></h6>
        <p class="text-black-61 pb-3">
          <u>Online</u> (Zoom)<br>
          <u>Publico alvo:</u> Médicos internos e especialistas em Psiquiatria da Infância e Adolescência e Medicina Geral e Familiar
          <br>
          Abertura das inscrições a <u>9 de Setembro de 2025</u> | vagas limitadas<br>
          Preço desta formação: 30€
          <br>
          Inscreva-se no <a href="https://forms.gle/Ecw94p3kZUnbNoVd7">formulário de inscrição para esta formação.</a>
        <h6 style="color: #8AC6CE" class="pb-3">Programa</h6>
        <b>18H00 – 20H00<br>
          Sessão interativa de perguntas e respostas e partilha de casos clínicos.</b><br>
        <i>Drª Paula Cristina Correia e Dr. João Picoito</i><br>
        <br>
        <h6 style="color: #8AC6CE" class="pb-3">Oradores</h6>
        <b>Drª. Paula Cristina Correia</b><br>
        Médica Psiquiatra da Infância e Adolescência, assistente graduada sénior.<br>
        Diretora do Serviço de Psiquiatria da Infância e Adolescência no Centro Hospitalar Universitário da Cova da Beira.<br>
        Diretora do Departamento de Psiquiatria e Saúde Mental da ULS Cova da Beira.<br>
        Docente na Faculdade de Ciências da Saúde da Universidade da Beira Interior (UBI).<br>
        Membro da Coordenação Regional de Saúde Mental da ARS Centro.<br>
        Presidente da Associação Portuguesa de Psiquiatria da Infância e Adolescência.<br>
        <br>
        <b>Dr. João Picoito</b><br>
        Mestre em Medicina pela Faculdade de Medicina de Lisboa (2007-2013) e possui o Certificate on Anxiety and Depression da Maastricht University (2015).<br>
        Assistente Hospitalar de Pedopsiquiatria do Serviço de Pedopsiquiatria do Hospital Pediátrico de Coimbra (desde 2022), onde também realizou o internato de formação específica (2016-2021). Exerce atualmente funções na Consulta Externa de Pedopsiquiatria e na Unidade de Ligação. <br>
        Professor Auxiliar Convidado na Faculdade de Medicina da Universidade de Coimbra.<br>
        Doutorado em Saúde Pública pela Escola Nacional de Saúde Pública da Universidade Nova de Lisboa (2021), com a tese "Emotional and behavioural pathways to early adolescent substance use". <br>
        É autor e co-autor de artigos científicos em revistas especializadas com fator de impacto e orientador de dissertações de mestrado em saúde mental infantojuvenil.<br>
        <br>

        </p>
      </div>
      <h3>Anteriores</h3>
      <div>
        <h6 style="color: #8AC6CE" class="pb-3"><b>26 de Setembro de 2025 - Intervenções nas perturbações do espectro do autismo na infância e adolescência</b></h6>
        <h6 style="color: #8AC6CE" class="pb-3"><b>22 de Março de 2025 - Intervenções nas perturbações de ansiedade na infância e adolescência</b></h6>
        <p class="text-black-61 pb-3">
        </p>
      </div>
    </div>
    <!--
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        {{ with .content.image }}{{ partial "utilities/image-fluid.html" . }}{{ end }}
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-xl-6 text-center">
        {{ with .content.button }}
          <a class="btn btn-outline-primary px-4" href="{{ .url }}">{{ .label }}<span class="ms-2">{{ partial "icons/arrow-right.html" }}</span></a>
        {{ end }}
      </div>
    </div>
  -->
  </div>
</section>